services:
  web:
    build: .
    container_name: payout_web
    command: >
      sh -c "poetry run python manage.py migrate &&
             poetry run python manage.py runserver 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: payout_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: payout_redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: payout_celery
    command: poetry run celery -A config worker -l info
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    depends_on:
      - redis
      - db


volumes:
  postgres_data:
